body {
    background: #f7f7f7;
    font-family: monospace;
}

.code, .input, .output, .examples {
    font-size: 11pt;
}

.code, .input {
    width: 100%;
    outline: none;
    resize: none;
    border: none;
    padding: 0.5rem;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
}

.output {
    height: 10em;
    overflow: auto;
    padding: 3px;
}

.output-container {
    background: #eaeaea;
    border-top: 1px solid #aaa;
}

.code, .code-container, .output-container, .input-container, .input {
    background: #eaeaea;
}

.input-container {
    border-left: 1px solid #aaa;
}

.playground, .description {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;
}

.code-container { position: relative; }

.run {
    position: absolute;
    bottom: 24px;
    right: 32px;
}

.example {
    font-size: 11pt;
    text-decoration: underline;
    color: #485cf1;
}

.example:hover {
    cursor: pointer;
}

.example.active {
    text-decoration: none;
    font-weight: bold;
}

.input-label, .output-label { color: #888; }
